body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	/* Page reset */
	margin:0px;
	padding:0px;
	font-size: 14px;
}

body{
	/* Setting default text color, background and a font stack */
	color:#444444;
	font-size:13px;
	background: #f2f2f2;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
li{
	list-style:none;
}

/* Gallery styles */

#gallery{
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	/* CSS3 Rounded Corners */
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	background:url(../img/panel.jpg) repeat-x bottom center #ffffff;
	/* The width of the gallery */
	width:1000px;
	overflow:hidden;
	clip: rect(0px,auto,0px,auto);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#slides{
	/* This is the slide area */
	height:300px;
	
	/* jQuery changes the width later on to the sum of the widths of all the slides. */
	width:1000px;
	overflow:hidden;
}

.slide{
	float:left;
}

#menu{
	/* This is the container for the thumbnails */
	height:45px;
}

#menu ul{
	margin:0px;
	padding:0px;
}

#menu li{
	/* Every thumbnail is a li element */
	width:60px;
	display:inline-block;
	list-style:none;
	height:45px;
	overflow:hidden;
}

#menu li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(../img/pic_bg.png) repeat;
}

#menu li.act,li.act:hover{
	/* The active state of the thumb */
	background:url(../img/active_bg.png) no-repeat;
}

#menu li.act a{
	cursor:default;
}

.fbar{
	/* The left-most vertical bar, next to the first thumbnail */
	width:2px;
	background:url(../img/divider.png) no-repeat right;
}

#menu li a{
	display:block;
	background:url(../img/divider.png) no-repeat right;
	height:35px;
	padding-top:10px;
}

a img{
	border:none;
}


/* The styles below are only necessary for the demo page */

h1{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:36px;
	font-weight:normal;
	margin-bottom:15px;
}

h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	position:absolute;
	right:0;
	text-transform:uppercase;
	top:15px;
}

#main{
	text-align:center;
	width:1000px;
	position:relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

a, a:visited {
	color:#000;
	text-decoration:none;
	outline:none;
}

a:hover{
	color: #06C;
}

p{
	padding:10px;
	text-align:center;
}

#top {
	height: 30px;
	width: 1000px;
	line-height: 30px;
	color: #FFF;
	text-align: center;
	clip: rect(0px,auto,0px,auto);
	display:inline-block;
}
#top ui{
	margin:0px;
	padding:0px;
	display:inline-block;
}
.topliimg{
	width: 26px;
	list-style:none;
	line-height: 25px;
	height: 25px;
	float:left;
	display:inline-block;
	padding-top: 5px;
}
.toplitext {
	list-style:none;
	width: 70px;
	line-height: 30px;
	height: 30px;
	float:left;
	display:inline-block;
}
.toplitext a {
	list-style:none;
	line-height: 30px;
	color: #FFF;
	height: 30px;
	text-decoration:none;
	display:inline-block;
}
.toplitext a:visited {
	color:#FFF;
	text-decoration:none;
	outline:none;
}

.toplitext a:hover{
	color: #F60;
}
.toplilogin{
	list-style:none;
	width: 600px;
	text-align: right;
	line-height: 30px;
	height: 30px;
	float:left;
	display:inline-block;
}
.toplilogin a {
	list-style:none;
	line-height: 30px;
	color: #F90;
	height: 30px;
	text-decoration:none;
	display:inline-block;
}
.toplilogin a:visited {
	color:#F90;
	text-decoration:none;
	outline:none;
}

.toplilogin a:hover{
	color: #F60;
}
.topline {
	text-align: center;
	width: 100%;
	background-color: #2c2c2c;
}
.logopan {
	height: 98px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b5b5b5;
	text-align: center;
	width: 100%;
}
.logo {
	display:inline-block;
	float: left;
	width: 300px;
	height: 97px;
	background-image: url(../images/logo-d.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.logopansub {
	width: 1000px;
	text-align: center;
	clip: rect(0px,auto,0px,auto);
	display:inline-block;
}
.login {
	display:inline-block;
	float: left;
	height: 97px;
	width: 670px;
}
.logopan .logopansub .login div ul li {
	float: left;
	display:inline-block;
}
.logopan .logopansub .login div {
	margin-top: 16px;
}
.logopan .logopansub .login div ul li input {
	background-image: url(../images/input.png);
	background-repeat: no-repeat;
	height: 37px;
	width: 146px;
	margin-right: 6px;
	margin-left: 6px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-indent: 10px;
	color: #b5b5b5;
	line-height: 37px;
}
.logopan .logopansub .login div ul .user {
	background-image: url(../images/user.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 37px;
	width: 24px;
}
.logopan .logopansub .login div ul .pass {
	background-image: url(../images/pass.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 37px;
	width: 24px;
}
.logopan .logopansub .login div ul .spaecs {
	width: 210px;
	height: 30px;
}
.logopan .logopansub .login div ul .spaecst {
	width: 42px;
	height: 30px;
}
#menupan {
	background-image: url(../images/bgcolor.png);
	background-repeat: no-repeat;
	height: 108px;
	width: 1000px;
	clip: rect(0px,auto,0px,auto);
}
#menupan ul li {
	width:138px;
	display:inline-block;
	list-style:none;
	text-align: center;
	float: left;
	height: 88px;
	padding-top: 6px;
	margin-top: 14px;
}
#menupan ul li:hover {
	background-color: #FFF;
	width: 78px;
	margin-right: 30px;
	margin-left: 30px;
	height: 78px;
}
#menupan ul li img {
	margin-bottom: 10px;
}
.leftinfo {
	display: inline-block;
	float: left;
	width: 253px;
	line-height: 24px;
	text-align: left;
}
.rightinfo {
	display: inline-block;
	float: left;
	width: 744px;
}
.rightinfodiv{
	display: inline-block;
}
.rightinfodiv ul li {
	display: inline-block;
	float: left;
	width: 100px;
}
#main .rightinfo .more {
	text-align: right;
	text-indent: 10;
}
#main .rightinfo #wbg {
	background-color: #FFF;
	padding: 10px;
	text-align: left;
	line-height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.2);
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 12px;
	margin-left: 6px;
}
#newstitle{
	display: inline-block;
	float: left;
	width: 500px;
}
#main .leftinfo #wbg {
	background-color: #FFF;
	padding: 10px;
	text-align: left;
	line-height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.2);
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 12px;
	margin-left: 6px;
}
#main .leftinfo #wbg ul .more {
	text-align: right;
}
#main .leftinfo #wbg ul .qq {
	background-image: url(../images/QA_img.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
	width: 210px;
}
#main .leftinfo #wbg ul .qqbutton {
	text-align: center;
}
.footpan {
	height: 81px;
	text-align: center;
	width: 100%;
	background-color: #dbdbdb;
	display:inline-block;
}
.footlogo {
	display:inline-block;
	float: left;
	width: 250px;
	height: 81px;
	background-image: url(../images/logo-s.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.footpansub {
	width: 1000px;
	text-align: center;
	clip: rect(0px,auto,0px,auto);
	display:inline-block;
}
.foottt {
	display:inline-block;
	float: left;
	height: 51px;
	width: 670px;
	text-align: left;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	line-height: 24px;
}
#userpage{
	width:1000px;
	overflow:hidden;
	clip: rect(0px,auto,0px,auto);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#my1{
	background-image:url(../images/my1_icon.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	line-height: 24px;
	text-indent: 36px;
	height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CAE4FF;
}
#my2{
	background-image:url(../images/my2_icon.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	line-height: 24px;
	text-indent: 36px;
	height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CAE4FF;
}
#my3{
	background-image:url(../images/my3_icon.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	line-height: 24px;
	text-indent: 36px;
	height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CAE4FF;
}
#my4{
	background-image:url(../images/my4_icon.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	line-height: 24px;
	text-indent: 36px;
	height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CAE4FF;
}
#my5{
	background-image:url(../images/my5_icon.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	line-height: 24px;
	text-indent: 36px;
	height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CAE4FF;
}
#my6{
	background-image:url(../images/my6_icon.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	line-height: 24px;
	text-indent: 36px;
	height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CAE4FF;
}
#my7{
	background-image:url(../images/my7_icon.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	line-height: 24px;
	text-indent: 36px;
	height: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CAE4FF;
}
#my8{
	background-image:url(../images/my8_icon.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	line-height: 24px;
	text-indent: 36px;
	height: 24px;
}
#myinfo_title{
	display: inline-block;
	float: left;
	width: 120px;
	text-align: right;
}

.myinfo_info {
	display: inline-block;
	width: 560px;
}
.myinfo_info_type {
	background-color: #DEF;
	padding-right: 10px;
	padding-left: 10px;
}
.myinfo_info_dt {
	padding-right: 10px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #def;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #def;
	border-left-color: #def;
}
#main #userpage .rightinfo #wbg div ul .search {
	line-height: 37px;
	background-color: #DFEFFF;
	height: 37px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 8px;
}
#main #userpage .rightinfo #wbg div ul .search ul li {
	line-height: 37px;
	display: inline-block;
	float: left;
	height: 37px;
	margin: 5px;
}
.aboutproduct {
	text-indent: 30px;
	margin: 10px;
}
.aboutpt {
	font-weight: bold;
	color: #002E73;
	margin: 10px;
}
#main .hotcity ul li {
	line-height: 32px;
	display: inline-block;
	float: left;
	height: 32px;
	width: 75px;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.hotcity{
	background-color: #ddd;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	height: 42px;
}
.citylist {
	cursor: pointer;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #fff;
	border-bottom-color: #fff;
	margin-top: 4px;
	margin-right: 5px;
	margin-bottom: 4px;
	margin-left: 5px;
	height: 52px;
	background-color: #FFF;
	font-weight: bold;
}
.citylist ul li {
	display: inline-block;
	margin: 5px;
	float: left;
}
.citylist ul li a {
	color: #002E73;
}
.citylist ul li a:hover {
	color: #FF6600;
}
.abcz {
	font-weight: bold;
	color: #F8FCFD;
	background-color: #002E73;
	display: inline-block;
	margin: 5px;
	float: left;
	height: 42px;
	width: 42px;
	line-height: 42px;
}
.citylist:hover{
	background-color: #ddd;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
	margin-top: 4px;
	margin-right: 5px;
	margin-bottom: 4px;
	margin-left: 5px;
}

.product_title {
	color: #002E73;
	font-weight: bold;
	text-align: left;
	line-height: 30px;
	height: 30px;
}
#main .rightinfo #wbg .product_type {
	font-weight: bold;
	color: #000;
	background-color: #ddd;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 16px;
}
#main .rightinfo #wbg .product_info {
	height: 80px;
	padding-top: 16px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 16px;
}
#main .rightinfo #wbg .product_info li {
	display: inline-block;
	float: left;
	width: 90px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-left-color: #CCC;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	background-color: #FFf;
}
#main .rightinfo #wbg .product_info .product_info_title {
	background-color: #FFEFDF;
}
.cb {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: right;
}
.logopan .logopansub .login #topinfos {
	display: inline-block;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 40px;
}



#main .rightinfo #wbg .product_info li.b {
	display: inline-block;
	float: left;
	width: 90px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
#main .rightinfo #wbg .product_info li.r {
	display: inline-block;
	float: left;
	width: 90px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}

#main .rightinfo #wbg .product_info:hover {
	background-color: #FFC;
	cursor: pointer;
}
.product_titlebg {
	background-color: #D7E7FF;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 16px;
	margin-bottom: 20px;
}
#main .rightinfo #wbg div ul .product_info_titles {
	font-weight: bold;
	color: #006;
	background-color: #D7E7FF;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 16px;
	margin-bottom: 20px;
}
.popimg {
	background-color: #FFF;
	height: 380px;
	width: 480px;
	border: 1px solid #CCC;
	margin: 10px;
	padding: 5px;
	display:none;
	z-index:9999;
}
.popimg div ul li {
	display: inline-block;
	float: left;
	margin: 5px;
}
.popimg div ul .poplefttitle {
	text-align: right;
	width: 100px;
}
.popimg div ul .popinfo {
	width: 200px;
}
.popimg div {
	clear: both;
}
.popimg div ul .popinfo select{
	width: 340px;
}

.popimg div ul .popinfo input {
	width: 340px;
}

.popimg div ul .popinfo textarea {
	width: 340px;
}
.popimg .poptitle {
	font-size: 24px;
	text-align: center;
	color: #FFF;
	background-color: #3A72A5;
	line-height: 36px;
}
