.container{
	width:900px;
	height:650px;
	display: inline-block;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.container .regmenu{
	width:900px;
	height:34px;
}

.container .regmenu ul{
	list-style:none;
	width:820px;
	height:34px;
	margin:0 auto;
}
.container .regmenu li{
	background:url(../images/header_tabs.png) repeat-x;
	background-position:194px 0;
	display:block;
	float:left;
	width:194px;
	height:34px;
	cursor:pointer;
}
.container .regmenu li.current{
	background-position:0 0;
}
.container .regmenu span{
	color:#eee;
	display: inline-block;
	line-height:34px;
	text-align:center;
	font-size: 18px;
}
.container .regmenu span:hover{
	color:#FFF;
	display: inline-block;
	line-height:34px;
	text-align:center;
	font-size: 18px;
}

.current span{
	color:#666;
}


.content{
	background:#F9F9F9;
	width:900px;
	height:610px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
}

.content ul{
	width:700px;
	height:600px;
	list-style:none;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}

.content li{
	width:700px;
	height:37px;
	text-align: left;
}
	
.clear{
	clear:both;
}
div .step {
	background-image: url(../images/reg_step.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 48px;
	margin: 0px;
	padding: 0px;
}
div .step li {
	line-height: 48px;
	display: inline-block;
	float: left;
	height: 48px;
	width: 260px;
	padding-right: 0px;
	padding-left: 66px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
}
.rege {
	background-color: #FFF;
	padding: 10px;
}
.reglabel {
	width: 80px;
	height: 36px;
	display: inline-block;
	float: left;
	line-height: 36px;
	margin: 5px;
	text-align: right;
}
.content ul li div{
	line-height: 36px;
	height: 37px;
	width: 220px;
	display: inline-block;
	float: left;
	margin: 5px;
}
.reginput {
	line-height: 36px;
	height: 27px;
	width: 200px;
	border: 1px solid #83a4c5;
	border-radius: 5px;
	padding: 5px;
	text-align: left;
}
.reginfo {
	width: 240px;
	height: 36px;
	display: inline-block;
	float: left;
	line-height: 36px;
	margin: 5px;
	text-align: left;
}
.content ul li div select {
	line-height: 36px;
	height: 36px;
	width: 100px;
	border: 1px solid #83a4c5;
	border-radius:5px;
	padding: 5px;
}
.regcheckbox{
	line-height: 36px;
	height: 37px;
	width: 20px;
}
#main .rege .container .welcome {
	line-height: 37px;
	color: #F30;
	height: 37px;
	font-size: 18px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.search {
	line-height: 37px;
	background-color: #DFEFFF;
	height: 37px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 8px;
	border-radius: 5px;
}
.search ul li {
	line-height: 37px;
	display: inline-block;
	float: left;
	height: 37px;
	margin: 5px;
}
.searchinput {
	line-height: 17px;
	height: 17px;
	width: 120px;
	border: 1px solid #83a4c5;
	border-radius: 5px;
	padding: 5px;
	text-align: left;
}

.searchselect {
	line-height: 30px;
	height: 30px;
	width: 110px;
	border: 1px solid #83a4c5;
	border-radius: 5px;
	padding: 5px;
	text-align: left;
}

.pageno {
	width: 700px;
}
.pageno li {
	display: inline-block;
	margin: 2px;
	float: center;
}
.pagenon {
	width: 48px;
}
.userbytitle {
	display: inline-block;
	float: left;
	margin: 5px;
	width: 700px;
}
.byinfolist {
	width: 700px;
	height:75px;
}
.byinfolist li {
	display: inline-block;
	float: left;
	height: 22px;
	line-height: 22px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #7F9DB9;
}
.byinfolistt {
	width: 100px;
	overflow:hidden;
}
.byinfolists {
	width: 712px;
	height:30px;
}
.byinfolists li {
	display: inline-block;
	float: left;
	height: 22px;
	line-height: 22px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.byinfolistts {
	width: 200px;
}
